cocotb==2.0.1
cocotb-test==0.2.6
cocotb-bus
cocotb-coverage
pytest>=9.0
pytest-xdist
pytest-html
pytest-timeout
pytest-rerunfailures
pyelftools
bitwuzla
scipy
matplotlib
junit-xml
deepdiff
pre-commit>=4.0
ruff>=0.15
mypy
rich
tqdm
tabulate
loguru
pyyaml>=6.0
zensical>=0.0.40
z3-solver==4.13.0.0
